@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 2rem auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  margin: 120px auto 40px auto;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}

h4 {
  margin: 120px auto 40px auto;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}

.first {
  margin-top: 80px;
}

input {
  width: 25%;
  height: 2rem;
  display: block;
  margin: 5px auto;
  text-align: center;
  border-radius: 5px;
}

.second {
  margin-top: 0;
}

.second label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1rem;
  color: black;
}

.third {
  margin-top: 100px;
}

.bottom {
  margin-top: 30px;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

select {
  width: 25%;
  text-align-last: center;
}

option {
margin: auto;
}



.btn {
  display: block;
  background-color: #38394d;
  border: 1px solid #38394d;
  color: white;
  font-family: 'Montserrat';
  display: block;
  width: 25.2%;
  height: 35px;
  margin: 5px auto;
}

.third .btn {
  margin-top: 25px;
}

select .btn {
  margin-bottom: 5px;
}

.w25 {
  width: 25%;
}

.pkt:nth-child(even) {background: white}
.pkt:nth-child(odd) {background: #e9eaef}



.onlyButtons {
  margin-top: 150px;
}

.onlyButtons .btn {
  margin-bottom: 15px;
}

.btn:hover {
  background-color: #fffcba;
  color: #38394d;
  border: 1px solid #acacac;
}



p {
  text-align: center;
  margin-top: 25px;
}

.input {
  background-color: white;
}

footer {
  width: 100%;
  position:fixed;
  margin: auto;
  bottom: 0;
}

footer img {
  width: 100%;
}




#gruppenname {
  margin-bottom: 20px;
}


#tblH1 {
  font-size: 1.5em;
  margin: 10px 0;
}

#tbl {
    background-color: pink;
    table-layout: fixed;
    width: 100%;
}

tr {
  width: 80%;
  font-size: 1rem;

}

td {
  width: 50%;
  margin: 1% 0;
  padding: 0.5rem;
}

.spieler {
  text-align: center;
  background-color: #38394d;
  color: white;
  letter-spacing: 0.1em;
  padding: 10px 0;
}

.sum {
  background-color: #38394d;
  color: white;
}

.eingabe {
  width: 75%;
  height: 1.6rem;
}

#submt {
  width: 10%;
}

.is-invalid {
  color: red;
  border: 1px solid red;
}

td {
  height: 1.5rem;
  text-align: center;
}

td span {
  font-weight: 900;
}

.extraMarg {
  margin-bottom: 255px;
}


@media screen and (max-width: 990px) {

  h1 {
    margin-top: 4rem;
    font-size: 4rem;
  }

  h4 {
    font-size: 3rem;
  }

  input, input.btn, select.btn, .btn {
    text-align: center;
    width: 60%;
    height: 3rem;
    font-size: 1.5rem;
  }

  input.btnEing {
    width: 30%;
    height: 2.5rem;
    padding: 0;
  }

  .eingabe {
    font-size: 1rem;
  }

  .second label {
    font-size: 1.5rem;
  }

  .navbar {
    font-size: 1.5rem;
  }
  button.navbar-toggler {
    font-size: 1.5rem;
  }
  a.navbar-brand {
    font-size: 2rem;
  }

  a.dropdown-item {
    font-size: 1.5rem;
  }

  footer img {
    height: 20%;
  }
}

@media screen and (max-width: 600px) {

}
